In [1]:
import numpy as np
import pandas as pd

In [2]:
# Setup the data paths
hydroportal_files_paths = ['Discharge_3_hour_mean_inflow.csv',
                           'Lake_Height.csv',
                           'PercentFull_Active_Lake_Storage.csv',
                           'Snow_Volume_Opuha_Catchment.csv',
                           'Turbidity_Buoy.csv',
                           'Turbidity_Platform.csv',
                           'Water_Temp_Buoy.csv',
                           'Water_Temp_Platform.csv']

cliflo_files = 'Cliflo_39255_Fairlie_Env_Data.csv'

In [3]:
# Load the data and process the column name etc

dataframe_list = []

for file in hydroportal_files_paths:
    df = pd.read_csv(file, skiprows=1,index_col=0)
    # Make column names unique by appending part of the filename
    df.columns = [file.split('.')[0] + '_' + col for col in df.columns]
    df.index = pd.to_datetime(df.index)
    dataframe_list.append(df)

merged_hydro_portal_data = pd.concat(dataframe_list, axis=1, join='outer')

merged_hydro_portal_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 782231 entries, 1981-04-02 00:00:00 to 2024-06-10 12:30:00
Data columns (total 8 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Discharge_3_hour_mean_inflow_Value (m^3/s)  28349 non-null   float64
 1   Lake_Height_Value (m)                       699906 non-null  float64
 2   PercentFull_Active_Lake_Storage_Value (%)   691883 non-null  float64
 3   Snow_Volume_Opuha_Catchment_Value (Mm^3)    15766 non-null   float64
 4   Turbidity_Buoy_Value (NTU)                  217615 non-null  float64
 5   Turbidity_Platform_Value (NTU)              213917 non-null  float64
 6   Water_Temp_Buoy_Value (°C)                  197546 non-null  float64
 7   Water_Temp_Platform_Value (°C)              214817 non-null  float64
dtypes: float64(8)
memory usage: 53.7 MB

In [4]:
merged_hydro_portal_data.head()

,Discharge_3_hour_mean_inflow_Value (m^3/s),Lake_Height_Value (m),PercentFull_Active_Lake_Storage_Value (%),Snow_Volume_Opuha_Catchment_Value (Mm^3),Turbidity_Buoy_Value (NTU),Turbidity_Platform_Value (NTU),Water_Temp_Buoy_Value (°C),Water_Temp_Platform_Value (°C)
Timestamp (UTC+12:00),,,,,,,,
1981-04-02,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1981-04-03,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1981-04-04,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1981-04-05,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1981-04-06,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [5]:
# Rename the columns of the dataframe to make it more readable

new_column_names = [
    'Discharge_(m^3/s)',
    'Lake_Height_(m)',
    'PercentFull_Active_Lake_Storage_(%)',
    'Snow_Volume_Opuha_Catchment_(mm)',
    'Turbidity_Buoy_(NTU)',
    'Turbidity_Platform_(NTU)',
    'Water_Temp_Buoy_(degC)',
    'Water_Temp_Platform_(degC)']

rename_dic = dict(zip(merged_hydro_portal_data.columns, new_column_names))

# Rename the columns of the dataframe

merged_hydro_portal_data.rename(columns=rename_dic, inplace=True)

In [6]:
merged_hydro_portal_data

,Discharge_(m^3/s),Lake_Height_(m),PercentFull_Active_Lake_Storage_(%),Snow_Volume_Opuha_Catchment_(mm),Turbidity_Buoy_(NTU),Turbidity_Platform_(NTU),Water_Temp_Buoy_(degC),Water_Temp_Platform_(degC)
Timestamp (UTC+12:00),,,,,,,,
1981-04-02 00:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1981-04-03 00:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1981-04-04 00:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1981-04-05 00:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1981-04-06 00:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2024-06-10 12:00:00,0.170833,376.7,13.815221,NaN,2.06,3.79,6.48,6.47
2024-06-10 12:05:00,NaN,376.7,13.815221,NaN,NaN,NaN,NaN,NaN
2024-06-10 12:10:00,NaN,376.7,13.815221,NaN,NaN,NaN,NaN,NaN
2024-06-10 12:15:00,NaN,376.7,13.815221,NaN,2.26,4.24,6.48,6.46
2024-06-10 12:30:00,NaN,NaN,NaN,NaN,2.47,4.26,6.48,6.46

In [7]:
# Rading the cliflo data

cliflo_data = pd.read_csv(cliflo_files,skiprows=10)

# drop the last few rows
cliflo_data=cliflo_data[:-6]

# Drop the first column
cliflo_data = cliflo_data.drop(cliflo_data.columns[0], axis=1)

In [8]:
# Convert 'Day(Local_Date)' to datetime and set it as the index
cliflo_data['Day(Local_Date)'] = pd.to_datetime(cliflo_data['Day(Local_Date)'], format='%Y%m%d:%H%M')
cliflo_data.set_index('Day(Local_Date)', inplace=True)
# Rename the index
cliflo_data.index.rename('Timestamp (UTC+12:00)', inplace=True)

In [9]:
# Merge the two dataframes

Raw_Ground_Data = pd.concat([merged_hydro_portal_data, cliflo_data], axis=1, join='outer')

In [10]:
Raw_Ground_Data.to_csv('Raw_Ground_Data.csv')

In [28]:
Raw_Ground_Data

,Discharge_(m^3/s),Lake_Height_(m),PercentFull_Active_Lake_Storage_(%),Snow_Volume_Opuha_Catchment_(mm),Turbidity_Buoy_(NTU),Turbidity_Platform_(NTU),Water_Temp_Buoy_(degC),Water_Temp_Platform_(degC),WDir(Deg),WSpd(m/s),...,Tgmin_Rel,ET05_Rel,ET10_Rel,ET20_Rel,ET30_Rel,ET100_Rel,Pmsl_Rel,Pstn_Rel,Sun_Rel,Rad_Rel
Timestamp (UTC+12:00),,,,,,,,,,,,,,,,,,,,,
1981-04-02 00:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981-04-03 00:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981-04-04 00:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981-04-05 00:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981-04-06 00:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-10 12:00:00,0.170833,376.7,13.815221,NaN,2.06,3.79,6.48,6.47,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-10 12:05:00,NaN,376.7,13.815221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-10 12:10:00,NaN,376.7,13.815221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-10 12:15:00,NaN,376.7,13.815221,NaN,2.26,4.24,6.48,6.46,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-10 12:30:00,NaN,NaN,NaN,NaN,2.47,4.26,6.48,6.46,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Ground data clean up

In [11]:
## Purpose is to clean up the columns that only contains '-' 
Raw_Ground_Data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 782231 entries, 1981-04-02 00:00:00 to 2024-06-10 12:30:00
Data columns (total 47 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Discharge_(m^3/s)                    28349 non-null   float64
 1   Lake_Height_(m)                      699906 non-null  float64
 2   PercentFull_Active_Lake_Storage_(%)  691883 non-null  float64
 3   Snow_Volume_Opuha_Catchment_(mm)     15766 non-null   float64
 4   Turbidity_Buoy_(NTU)                 217615 non-null  float64
 5   Turbidity_Platform_(NTU)             213917 non-null  float64
 6   Water_Temp_Buoy_(degC)               197546 non-null  float64
 7   Water_Temp_Platform_(degC)           214817 non-null  float64
 8   WDir(Deg)                            2707 non-null    object
 9   WSpd(m/s)                            2707 non-null    object
 10  GustDir(Deg)                         2707 non-null    object
 11  GustSpd(m/s)                         2707 non-null    object
 12  WindRun(Km)                          2707 non-null    object
 13  Rain(mm)                             2707 non-null    object
 14  Tdry(C)                              2707 non-null    object
 15  TWet(C)                              2707 non-null    object
 16  RH(%)                                2707 non-null    object
 17  Tmax(C)                              2707 non-null    object
 18  Tmin(C)                              2707 non-null    object
 19  Tgmin(C)                             2707 non-null    object
 20  ET05(C)                              2707 non-null    object
 21  ET10(C)                              2707 non-null    object
 22  ET20(C)                              2707 non-null    object
 23  ET30(C)                              2707 non-null    object
 24  ET100(C)                             2707 non-null    object
 25  Pmsl(hPa)                            2707 non-null    object
 26  Pstn(hPa)                            2707 non-null    object
 27  Sun(Hrs)                             2707 non-null    object
 28  Rad(MJ/m2)                           2707 non-null    object
 29  WD_Rel                               2707 non-null    object
 30  WS_Rel                               2707 non-null    object
 31  WindRun_Rel                          2707 non-null    object
 32  Rain_Rel                             2707 non-null    object
 33  Tdry_Rel                             2707 non-null    object
 34  Twet_Rel                             2707 non-null    object
 35  Tmax_Rel                             2707 non-null    object
 36  Tmin_Rel                             2707 non-null    object
 37  Tgmin_Rel                            2707 non-null    object
 38  ET05_Rel                             2707 non-null    object
 39  ET10_Rel                             2707 non-null    object
 40  ET20_Rel                             2707 non-null    object
 41  ET30_Rel                             2707 non-null    object
 42  ET100_Rel                            2707 non-null    object
 43  Pmsl_Rel                             2707 non-null    object
 44  Pstn_Rel                             2707 non-null    object
 45  Sun_Rel                              2707 non-null    object
 46  Rad_Rel                              2707 non-null    object
dtypes: float64(8), object(39)
memory usage: 286.5+ MB

In [12]:
# Get unique values in a column
for col in Raw_Ground_Data.columns:
    unique_values = Raw_Ground_Data[col].value_counts()
    print(col, unique_values)

Discharge_(m^3/s) Discharge_(m^3/s)
 0.000000    764
 1.000000    253
 9.505572     23
 9.505572     22
 7.300000     22
            ...
 1.303593      1
 1.662160      1
 1.437162      1
-0.303540      1
 7.661111      1
Name: count, Length: 25310, dtype: int64
Lake_Height_(m) Lake_Height_(m)
371.2000    1500
371.4000    1480
389.9500    1415
389.9680    1140
371.3000    1097
            ...
370.6380       1
370.6330       1
388.4745       1
370.6250       1
375.9370       1
Name: count, Length: 22223, dtype: int64
PercentFull_Active_Lake_Storage_(%) PercentFull_Active_Lake_Storage_(%)
1.709687     1497
2.018780     1478
88.708004    1414
88.864661    1132
1.863269     1094
             ...
13.028279       1
13.039960       1
13.107125       1
13.101285       1
6.922409        1
Name: count, Length: 30937, dtype: int64
Snow_Volume_Opuha_Catchment_(mm) Snow_Volume_Opuha_Catchment_(mm)
0.0      2619
0.1       512
0.2       273
0.3       224
0.4       142
         ...
268.0       1
263.7       1
257.7       1
254.0       1
57.0        1
Name: count, Length: 1207, dtype: int64
Turbidity_Buoy_(NTU) Turbidity_Buoy_(NTU)
0.00      14435
1.42       2793
10.64      1609
95.20      1518
3.28       1093
          ...
303.53        1
161.17        1
152.83        1
135.13        1
39.21         1
Name: count, Length: 13695, dtype: int64
Turbidity_Platform_(NTU) Turbidity_Platform_(NTU)
1.11      427
1.17      420
1.16      419
1.14      417
1.20      416
         ...
994.99      1
981.72      1
923.46      1
979.52      1
65.58       1
Name: count, Length: 26863, dtype: int64
Water_Temp_Buoy_(degC) Water_Temp_Buoy_(degC)
18.70    952
5.18     677
5.70     615
5.29     571
5.23     499
        ...
22.70      1
22.75      1
22.61      1
22.78      1
22.54      1
Name: count, Length: 1884, dtype: int64
Water_Temp_Platform_(degC) Water_Temp_Platform_(degC)
5.20     733
5.21     682
5.18     675
5.22     625
5.15     625
        ...
4.32       2
20.23      2
20.28      1
20.25      1
20.29      1
Name: count, Length: 1598, dtype: int64
WDir(Deg) WDir(Deg)
-      49
286    39
285    30
288    27
277    26
       ..
178     1
86      1
200     1
227     1
67      1
Name: count, Length: 357, dtype: int64
WSpd(m/s) WSpd(m/s)
1.1     128
1.9     125
2.1     110
0.8     105
1.3     101
       ...
11.9      1
13.5      1
8.9       1
13.1      1
9.1       1
Name: count, Length: 93, dtype: int64
GustDir(Deg) GustDir(Deg)
-      59
278    33
284    33
116    33
280    32
       ..
9       1
3       1
56      1
35      1
62      1
Name: count, Length: 308, dtype: int64
GustSpd(m/s) GustSpd(m/s)
7.2     207
6.7     204
6.2     193
5.7     180
7.7     175
5.1     169
8.2     153
8.8     142
4.6     107
10.3     97
9.3      88
9.8      86
10.8     77
11.3     73
11.8     70
-        59
12.4     54
12.9     50
13.4     49
16.0     41
14.4     41
4.1      38
13.9     36
14.9     35
17.0     27
15.4     23
16.5     21
18.0     20
17.5     18
19.6     18
19.0     16
20.1     14
3.6      14
18.5     12
21.6     11
22.1     10
20.6     10
22.6      8
21.1      8
23.7      7
24.2      7
25.2      5
3.1       4
30.4      3
27.3      3
24.7      3
23.2      3
29.9      2
25.7      2
34.0      2
28.3      2
36.5      2
31.9      2
26.3      1
34.5      1
32.4      1
33.5      1
26.8      1
2.6       1
Name: count, dtype: int64
WindRun(Km) WindRun(Km)
-      45
196    27
195    27
191    25
170    24
       ..
781     1
453     1
372     1
373     1
552     1
Name: count, Length: 384, dtype: int64
Rain(mm) Rain(mm)
0.0     1451
0.2      299
0.4      106
0.6       74
0.8       55
        ...
73.6       1
51.6       1
47.2       1
15.8       1
40.6       1
Name: count, Length: 134, dtype: int64
Tdry(C) Tdry(C)
8.6     29
8.5     29
10.8    28
9.0     28
7.4     27
        ..
27.5     1
25.5     1
25.4     1
25.7     1
20.4     1
Name: count, Length: 253, dtype: int64
TWet(C) TWet(C)
6.9     33
4.2     32
10.1    32
6.7     32
7.5     32
        ..
17.9     1
17.4     1
21.0     1
16.3     1
0.0      1
Name: count, Length: 201, dtype: int64
RH(%) RH(%)
87.8    15
89.2    15
76.4    14
89.8    14
75.5    14
        ..
42.4     1
39.4     1
39.6     1
25.3     1
38.2     1
Name: count, Length: 646, dtype: int64
Tmax(C) Tmax(C)
17.5    24
14.4    24
15.6    24
15.7    24
13.7    23
        ..
31.0     1
30.7     1
31.3     1
28.9     1
30.1     1
Name: count, Length: 277, dtype: int64
Tmin(C) Tmin(C)
6.9     38
7.2     32
8.3     29
5.1     29
6.8     29
        ..
-2.3     1
14.9     1
16.1     1
16.7     1
16.9     1
Name: count, Length: 203, dtype: int64
Tgmin(C) Tgmin(C)
-    2707
Name: count, dtype: int64
ET05(C) ET05(C)
-    2707
Name: count, dtype: int64
ET10(C) ET10(C)
-    2707
Name: count, dtype: int64
ET20(C) ET20(C)
-    2707
Name: count, dtype: int64
ET30(C) ET30(C)
-    2707
Name: count, dtype: int64
ET100(C) ET100(C)
-    2707
Name: count, dtype: int64
Pmsl(hPa) Pmsl(hPa)
1010.3    20
1020.4    18
1014.1    16
1011.2    16
1019.4    16
          ..
1033.7     1
1031.2     1
994.3      1
993.1      1
1034.9     1
Name: count, Length: 488, dtype: int64
Pstn(hPa) Pstn(hPa)
970.2    20
965.3    18
974.0    17
967.6    17
970.5    17
         ..
943.3     1
939.5     1
946.4     1
982.0     1
937.3     1
Name: count, Length: 455, dtype: int64
Sun(Hrs) Sun(Hrs)
-    2707
Name: count, dtype: int64
Rad(MJ/m2) Rad(MJ/m2)
-    2707
Name: count, dtype: int64
WD_Rel WD_Rel
-    2707
Name: count, dtype: int64
WS_Rel WS_Rel
-    2707
Name: count, dtype: int64
WindRun_Rel WindRun_Rel
-    2707
Name: count, dtype: int64
Rain_Rel Rain_Rel
-    2703
*       4
Name: count, dtype: int64
Tdry_Rel Tdry_Rel
-    2707
Name: count, dtype: int64
Twet_Rel Twet_Rel
-    2707
Name: count, dtype: int64
Tmax_Rel Tmax_Rel
-    2705
*       2
Name: count, dtype: int64
Tmin_Rel Tmin_Rel
-    2703
*       4
Name: count, dtype: int64
Tgmin_Rel Tgmin_Rel
-    2707
Name: count, dtype: int64
ET05_Rel ET05_Rel
-    2707
Name: count, dtype: int64
ET10_Rel ET10_Rel
-    2707
Name: count, dtype: int64
ET20_Rel ET20_Rel
-    2707
Name: count, dtype: int64
ET30_Rel ET30_Rel
-    2707
Name: count, dtype: int64
ET100_Rel ET100_Rel
-    2707
Name: count, dtype: int64
Pmsl_Rel Pmsl_Rel
-    2707
Name: count, dtype: int64
Pstn_Rel Pstn_Rel
-    2707
Name: count, dtype: int64
Sun_Rel Sun_Rel
-    2707
Name: count, dtype: int64
Rad_Rel Rad_Rel
-    2707
Name: count, dtype: int64

In [13]:
# Get unique values in a column
for col in Raw_Ground_Data.columns:
    unique_values = Raw_Ground_Data[col].dropna().unique()
    # If all non-NaN unique values in the column are '-' or '*', drop it
    if set(unique_values).issubset({'-', '*'}):
        Raw_Ground_Data = Raw_Ground_Data.drop(col, axis=1)

In [14]:
Raw_Ground_Data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 782231 entries, 1981-04-02 00:00:00 to 2024-06-10 12:30:00
Data columns (total 21 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Discharge_(m^3/s)                    28349 non-null   float64
 1   Lake_Height_(m)                      699906 non-null  float64
 2   PercentFull_Active_Lake_Storage_(%)  691883 non-null  float64
 3   Snow_Volume_Opuha_Catchment_(mm)     15766 non-null   float64
 4   Turbidity_Buoy_(NTU)                 217615 non-null  float64
 5   Turbidity_Platform_(NTU)             213917 non-null  float64
 6   Water_Temp_Buoy_(degC)               197546 non-null  float64
 7   Water_Temp_Platform_(degC)           214817 non-null  float64
 8   WDir(Deg)                            2707 non-null    object
 9   WSpd(m/s)                            2707 non-null    object
 10  GustDir(Deg)                         2707 non-null    object
 11  GustSpd(m/s)                         2707 non-null    object
 12  WindRun(Km)                          2707 non-null    object
 13  Rain(mm)                             2707 non-null    object
 14  Tdry(C)                              2707 non-null    object
 15  TWet(C)                              2707 non-null    object
 16  RH(%)                                2707 non-null    object
 17  Tmax(C)                              2707 non-null    object
 18  Tmin(C)                              2707 non-null    object
 19  Pmsl(hPa)                            2707 non-null    object
 20  Pstn(hPa)                            2707 non-null    object
dtypes: float64(8), object(13)
memory usage: 131.3+ MB

In [15]:
Raw_Ground_Data.to_csv('Ground_Data.csv')

In [34]:
Raw_Ground_Data.isna().sum()

Discharge_(m^3/s)                      753882
Lake_Height_(m)                         82325
PercentFull_Active_Lake_Storage_(%)     90348
Snow_Volume_Opuha_Catchment_(mm)       766465
Turbidity_Buoy_(NTU)                   564616
Turbidity_Platform_(NTU)               568314
Water_Temp_Buoy_(degC)                 584685
Water_Temp_Platform_(degC)             567414
WDir(Deg)                              779524
WSpd(m/s)                              779524
GustDir(Deg)                           779524
GustSpd(m/s)                           779524
WindRun(Km)                            779524
Rain(mm)                               779524
Tdry(C)                                779524
TWet(C)                                779524
RH(%)                                  779524
Tmax(C)                                779524
Tmin(C)                                779524
Pmsl(hPa)                              779524
Pstn(hPa)                              779524
dtype: int64